flows/flows_api.json
[
    {
        "id": "sqlite-config",
        "type": "sqlitedb",
        "db": "/opt/trading-journal/journal.db",
        "mode": "RWC"
    },
    {
        "id": "api-tab",
        "type": "tab",
        "label": "🌐 API",
        "disabled": false,
        "info": "REST API Endpoints für die Webseite.\nGET  /trading/trades   → alle Positionen (JOIN)\nGET  /trading/detail   → Events für eine Position\nPOST /trading/tag      → Tag speichern\nGET  /trading/config   → Quellen-Konfiguration\nPOST /trading/import   → CSV Import"
    },

    {
        "id": "cors-fn",
        "type": "function",
        "z": "api-tab",
        "name": "CORS Helper",
        "func": "// Wird nicht direkt verwendet - CORS wird in jeder Response gesetzt\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 40,
        "wires": [[]]
    },

    {
        "id": "api-trades-in",
        "type": "http in",
        "z": "api-tab",
        "name": "GET /trading/trades",
        "url": "/trading/trades",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [["api-trades-sql-fn"]]
    },
    {
        "id": "api-trades-sql-fn",
        "type": "function",
        "z": "api-tab",
        "name": "SQL: alle Positionen",
        "func": "msg.topic = \"SELECT \" +\n  \"a_open.deal_id, \" +\n  \"a_open.date_utc AS open_time, \" +\n  \"COALESCE(a_open.instrument, 'Gold') AS instrument, \" +\n  \"a_open.direction AS open_direction, \" +\n  \"a_open.level AS entry_price, \" +\n  \"COUNT(a_close.date_utc) AS num_exits, \" +\n  \"GROUP_CONCAT(DISTINCT a_close.source) AS exit_reasons, \" +\n  \"MAX(a_close.date_utc) AS close_time, \" +\n  \"ROUND(SUM(t.pl_chf), 2) AS pl_chf, \" +\n  \"tt.quelle, \" +\n  \"tt.notiz \" +\n  \"FROM activities a_open \" +\n  \"LEFT JOIN activities a_close ON a_close.deal_id = a_open.deal_id AND a_close.open_price IS NOT NULL \" +\n  \"LEFT JOIN transactions t ON t.deal_id = a_open.deal_id AND t.transaction_type = 'TRADE' \" +\n  \"LEFT JOIN trade_tags tt ON tt.deal_id = a_open.deal_id \" +\n  \"WHERE a_open.open_price IS NULL \" +\n  \"GROUP BY a_open.deal_id \" +\n  \"ORDER BY a_open.date_utc DESC\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [["api-trades-sqlite"]]
    },
    {
        "id": "api-trades-sqlite",
        "type": "sqlite",
        "z": "api-tab",
        "mydb": "sqlite-config",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite",
        "x": 550,
        "y": 100,
        "wires": [["api-trades-res-fn"]]
    },
    {
        "id": "api-trades-res-fn",
        "type": "function",
        "z": "api-tab",
        "name": "JSON Response",
        "func": "var rows = msg.payload || [];\n// pl_chf: leere Summe (keine Transactions) → null setzen\nrows = rows.map(function(r) {\n    if (r.num_exits === 0) r.pl_chf = null;\n    return r;\n});\nmsg.payload = JSON.stringify(rows);\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 100,
        "wires": [["api-trades-http-res"]]
    },
    {
        "id": "api-trades-http-res",
        "type": "http response",
        "z": "api-tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 100,
        "wires": []
    },

    {
        "id": "api-detail-in",
        "type": "http in",
        "z": "api-tab",
        "name": "GET /trading/detail",
        "url": "/trading/detail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [["api-detail-sql-fn"]]
    },
    {
        "id": "api-detail-sql-fn",
        "type": "function",
        "z": "api-tab",
        "name": "SQL: Position Events",
        "func": "var dealId = (msg.req.query.dealId || '').replace(/'/g, \"''\");\nif (!dealId) {\n    msg.payload = JSON.stringify([]);\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\n    node.send([null, msg]);\n    return null;\n}\n\n// Activities mit zugehörigem P/L (Timestamp-Match ±2 Sekunden)\nmsg.topic = \"SELECT \" +\n  \"a.date_utc, \" +\n  \"a.direction, \" +\n  \"a.level, \" +\n  \"a.open_price, \" +\n  \"a.source, \" +\n  \"a.size, \" +\n  \"(SELECT t.pl_chf FROM transactions t \" +\n  \" WHERE t.deal_id = a.deal_id \" +\n  \" AND ABS(strftime('%s', t.date_utc) - strftime('%s', a.date_utc)) <= 2 \" +\n  \" LIMIT 1) AS pl_chf \" +\n  \"FROM activities a \" +\n  \"WHERE a.deal_id = '\" + dealId + \"' \" +\n  \"ORDER BY a.date_utc ASC\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [["api-detail-sqlite"], ["api-detail-http-res"]]
    },
    {
        "id": "api-detail-sqlite",
        "type": "sqlite",
        "z": "api-tab",
        "mydb": "sqlite-config",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite",
        "x": 550,
        "y": 200,
        "wires": [["api-detail-res-fn"]]
    },
    {
        "id": "api-detail-res-fn",
        "type": "function",
        "z": "api-tab",
        "name": "JSON Response",
        "func": "msg.payload = JSON.stringify(msg.payload || []);\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 200,
        "wires": [["api-detail-http-res"]]
    },
    {
        "id": "api-detail-http-res",
        "type": "http response",
        "z": "api-tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 200,
        "wires": []
    },

    {
        "id": "api-tag-in",
        "type": "http in",
        "z": "api-tab",
        "name": "POST /trading/tag",
        "url": "/trading/tag",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [["api-tag-sql-fn"]]
    },
    {
        "id": "api-tag-sql-fn",
        "type": "function",
        "z": "api-tab",
        "name": "SQL: Tag speichern",
        "func": "var body   = msg.payload || {};\nvar dealId = (body.dealId || '').replace(/'/g, \"''\");\nvar quelle = (body.quelle || '').replace(/'/g, \"''\");\nvar notiz  = (body.notiz  || '').replace(/'/g, \"''\");\nvar now    = new Date().toISOString();\n\nif (!dealId) {\n    msg.payload = JSON.stringify({ error: 'dealId fehlt' });\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\n    node.send([null, msg]);\n    return null;\n}\n\nmsg.topic = \"INSERT OR REPLACE INTO trade_tags (deal_id, quelle, notiz, tagged_at) VALUES (\" +\n  \"'\" + dealId + \"', \" +\n  (quelle ? \"'\" + quelle + \"'\" : 'NULL') + \", \" +\n  (notiz  ? \"'\" + notiz  + \"'\" : 'NULL') + \", \" +\n  \"'\" + now + \"')\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 330,
        "y": 300,
        "wires": [["api-tag-sqlite"], ["api-tag-http-res"]]
    },
    {
        "id": "api-tag-sqlite",
        "type": "sqlite",
        "z": "api-tab",
        "mydb": "sqlite-config",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite",
        "x": 550,
        "y": 300,
        "wires": [["api-tag-res-fn"]]
    },
    {
        "id": "api-tag-res-fn",
        "type": "function",
        "z": "api-tab",
        "name": "JSON Response",
        "func": "msg.payload = JSON.stringify({ ok: true });\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 300,
        "wires": [["api-tag-http-res"]]
    },
    {
        "id": "api-tag-http-res",
        "type": "http response",
        "z": "api-tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 300,
        "wires": []
    },

    {
        "id": "api-config-in",
        "type": "http in",
        "z": "api-tab",
        "name": "GET /trading/config",
        "url": "/trading/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 400,
        "wires": [["api-config-sql-fn"]]
    },
    {
        "id": "api-config-sql-fn",
        "type": "function",
        "z": "api-tab",
        "name": "SQL: Config lesen",
        "func": "msg.topic = \"SELECT key, value FROM config\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 400,
        "wires": [["api-config-sqlite"]]
    },
    {
        "id": "api-config-sqlite",
        "type": "sqlite",
        "z": "api-tab",
        "mydb": "sqlite-config",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite",
        "x": 550,
        "y": 400,
        "wires": [["api-config-res-fn"]]
    },
    {
        "id": "api-config-res-fn",
        "type": "function",
        "z": "api-tab",
        "name": "JSON Response",
        "func": "var rows = msg.payload || [];\nvar cfg  = {};\nrows.forEach(function(r) { cfg[r.key] = r.value; });\nmsg.payload = JSON.stringify(cfg);\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 400,
        "wires": [["api-config-http-res"]]
    },
    {
        "id": "api-config-http-res",
        "type": "http response",
        "z": "api-tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 400,
        "wires": []
    }
]
